version: "3.9"

services:
  front:
    build:
      context: ./docker/front
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    volumes:
      - ./front:/var/www/front
    stdin_open: true
    tty: true
  nginx:
    container_name: nginx
    build:
      context: ./docker/nginx
      dockerfile: Dockerfile
    ports:
      - 80:80
    volumes:
      - ./api:/app:cached
    tty: true
  api:
    build:
      context: ./docker/api
      dockerfile: Dockerfile
    volumes:
      - ./api:/app:cached
    tty: true
    environment:
      - APP_ENV=development
  db:
    build:
      context: ./docker/db
      dockerfile: Dockerfile
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      TZ: 'Asia/Tokyo'
    volumes:
      - db-volume:/var/lib/mysql:cached

volumes:
  db-volume: